<div id="testRater" class="stat">
  <div class="statVal">
    <span class="ui-rater">
      <span class="ui-rater-starsOff">
        <span class="ui-rater-starsOn"></span>
      </span>
      <span class="ui-rater-rating"><%= @average_rating %></span>&#160;
      (<span class="ui-rater-rateCount"><%= @dream.ratings.count %></span>)
    </span>
  </div>
</div>