<div id="left-col">
  <h1 class="ir">Dreams attracting comments<span></span></h1>

  <div class="inner">
    <div class="dreams-nav">
      <%= will_paginate @dreams %>
    </div>
  </div>

  <ul>
    <%= render :collection => @dreams, :partial => 'dreams/dream' %>
  </ul>

  <div class="inner">
    <div class="dreams-nav">
      <%= will_paginate @dreams %>
    </div>
  </div>
</div>

<div id="right-col">
  <% if signed_in? %>
  <%= render 'shared/network' %>
  <% end %>
</div> <!-- //right-col -->