<% content_for :page_title do %> <h1>Welcome</h1>  <% end %>
  
  
  <p>This will become some sort of admin dashboard should that be needed.</p>
  
  <p>In the meantime, use the links above to administer the site.</p>