<div class="inner">
  <h2>Calendar View</h2>
  
  <table id="calendar">
    <tr>
      <td class="prev_month"><a href=""><img src="/assets/arrow_red-left.gif" width="15" height="15" alt="&laquo;" /></a></td>
      <td colspan="5" class="month">January 2009</td>
      <td class="next_month"><a href=""><img src="/assets/arrow_red-right.gif" width="15" height="15" alt="&raquo;" /></a></td>
    </tr>
    <tr>
      <td class="weekday">M</td>
      <td class="weekday">T</td>
      <td class="weekday">W</td>
      <td class="weekday">T</td>
      <td class="weekday">F</td>
      <td class="weekend">S</td>
      <td class="weekend">S</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td><a href="" class="my-dream">5</a></td>
      <td>6</td>
      <td>7</td>
      <td><a href="" class="my-dream">8</a></td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <td>12</td>
      <td>13</td>
      <td><a href="" class="dreamiappear">14</a></td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td class="now">18</td>
    </tr>
    <tr>
      <td class="future">19</td>
      <td class="future">20</td>
      <td class="future">21</td>
      <td class="future">22</td>
      <td class="future">23</td>
      <td class="future">24</td>
      <td class="future">25</td>
    </tr>
    <tr>
      <td class="future">26</td>
      <td class="future">27</td>
      <td class="future">28</td>
      <td class="future">29</td>
      <td class="future">30</td>
      <td class="future">31</td>
      <td class="">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  
  <div id="calendar-legend">
    <div class="legendbox clearfix">
      <img src="/assets/ico_mydream.gif" width="20" height="19" alt="" /> <span>= My Dreams</span>
    </div>
    <div class="legendbox clearfix">
      <img src="/assets/ico_dreamiappear.gif" width="20" height="19" alt="" /> <span>= Dreams I appear in</span>
    </div>
  </div>

</div> <!-- //inner -->