<h1>Dreamer: <%= @dreamer.name %></h1>

<p><%= [@dreamer.location, @dreamer.gender, @dreamer.age_band].compact.join(' / ') %></p>

<h2>Dreams</h2>

<% if @dreamer.dreams.any? %>
  <ul>
    <% @dreamer.dreams.each do |dream| %>
      <li><%= link_to dream.title, dream %></li>
    <% end %>
  </ul>
<% else %>
  <p>No dreams entered yet.</p>
<% end %>

<h2>Appearances</h2>
<% if @dreamer.references.any? %>
  <ul>
    <% @dreamer.references.each do |dream| %>
     <li><%= link_to dream.title, dream %></li>
    <% end %>
  </ul>
<% else %>
  <p>Has yet to be dreamed of!</p>
<% end %>