<h2 id="h_my-network" class="ir">My Network<span></span></h2>
<ul class="mynetwork">
  <% current_user.followees.each do |dreamer| %>
  <li>
    <% link_to dreamer do %>
      <%= image_tag dreamer.picture.url(:thumb), :width => '27', :height => '27', :alt => '' %>
    <% end %>
    <%= link_to dreamer.name, dreamer %>
  </li> 
  <% end %>
</ul>