<div id="tag-cloud-space">
  <h3>Popular Tags</h3>

  <ul id="tag-cloud">
    <% tag_cloud(@tags, @levels) do |tag, level| %>
      <li class="<%= level %>"><%= link_to h(tag), tag %></li>
    <% end %>
  </ul>
</div>
