<div id="left-col">
  <h1 class="ir">Dreams by rating<span></span></h1>

  <div class="inner">
    <div class="dreams-nav">
      <%= will_paginate @dreams %>
    </div>
  </div>

  <ul>
    <%= render :collection => @dreams, :partial => 'dreams/dream' %>
  </ul>

  <div class="inner">
    <div class="dreams-nav">
      <%= will_paginate @dreams %>
    </div>
  </div>
</div>

<div id="right-col">
  <%= render :partial => 'shared/network' %>
</div> <!-- //right-col -->